
.hour-capital-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;    
    gap: 10px;
    padding-top: 40px;
    text-align: center;
    font-size: clamp(17px, 20px, 26px);
}

