.hour-capital-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;    
    gap: 3px;
    padding-top: 32px;
    text-align: left;
    font-size: clamp(17px, 20px, 26px);


    #capital-name  {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        gap: 26.75px;
    }
    #capital-name > .name {
        display: flex;
        gap: 5px;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        padding: 3px;
        border-bottom: 3px solid rgb(162, 162, 255);
    }
}

#hour-capital {
    display: flex;
    flex-flow: column nowrap;
    gap: 21.1px;

    .time-to-capital {
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: 3px solid orange;
        background-color: rgba(181, 181, 247, 0.226);

        &:hover {
        }
    }
}
