#weather-h2 {
    padding-bottom: 10px;
}

.weather-location {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    flex-flow: column nowrap;
    padding-left: 25%;
    height: 70%;
    gap: 30px;

        .climate-capital-name {
            width: 100%;
            display: flex;
            gap: 20px;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            .climate-temperature {
                display: flex;
                flex-flow: row nowrap;
            
                gap: 3px;
                background-color: rgb(186, 186, 245);
                padding: 10px;
                border-radius: 10px;
                color: black;
            }
        }

    
}