#weather-h2 {
    padding-bottom: 10px;
}

.weather-location {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    flex-flow: column nowrap;
    padding-left: 17%;
    height: 70%;
    gap: 30px;

        .climate-capital-name {
            width: 100%;
            display: flex;
            gap: 20px;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            .climate-temperature {
                display: flex;
                flex-flow: row nowrap;
                width: 110px;
                font-size: 22px;
                align-items: center;
                justify-content: space-between;
                gap: 3px;
                background-color: rgb(186, 186, 245);
                padding: 8px;
                border-radius: 10px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.822);
            }
        }
}



@media screen and (max-width: 1200px) {
    .weather-location > .climate-capital-name > .climate-temperature {
        width: 110px;
    }
}