@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontSn) ;
}

:root {
    --fontSn: "SN Pro", sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 0.9fr 5fr;
    
}

@media screen and (min-width: 1300px) {
    body {
        grid-template-columns: 1.08fr 5fr;
    }
}