#main-content {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 0.75fr 1fr;
    grid-template-rows: repeat(4, auto);
    height: 100%;
    padding: 15px 13px 10px 30px;
    gap: 11px;
    background-image:  linear-gradient( 125deg, rgb(88, 86, 94), rgb(26, 24, 36));
}

.data-card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    background-color: rgba(6, 10, 19, 0.534);
}

.cards-tittle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    text-align: center;
    font-size: 1.85em;
}

#convertion-coins {
    grid-area: 1 / 1 / 4/ 2;
    padding: 10px;
}

#weather {
    grid-area: 1 / 2 / 3 / 4;
}

#hour-capital {
    grid-area: 3 / 2 / 4 / 4;
}

#history {
    grid-area: 1 / 4 / 5 / -2;
}




@media screen and (max-width: 1200px) {
    #main-content {
        height: 1370px;
        grid-template-rows: repeat(auto);
        grid-template-columns: 1.6fr 1fr;
        padding-left: 19px;
        justify-content: center;
    }

    #convertion-coins {
        grid-area: 1 / 1 / 10/ 2;
        padding: 10px;
    }

    #weather {
        grid-area: 10 /1 /11/ 3;
    }

    #history {
        grid-area: 1 / 4 / 10 / -2;
    }
    
    #hour-capital {
        grid-area: 11/ 1 / 12/ 3;
    }

}