#convertion-coins > h2 {
    margin-bottom: 16px;
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
}

.convertion-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.local-explication-money {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 50px;
    margin-bottom: 37px;
}

.money-explication {
    display: flex;
    font-size: 18.75px;
    flex-flow: column nowrap;
    gap: 26.7px;
}

.arrow-explications {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 20px;

}

.symbols-money {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 15px;
    font-size: 21px;
}

.type-money {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    margin-bottom: 10px;
    gap: 7px;
}

.area-convertion {
    display: flex;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 35px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: -10px;
    text-align: center;

    p {
        text-align: center;
        width: 100%;
    }

    #main-usd {
        font-weight: 600;
        font-size: 20px;
    }
}


@media screen and (max-width: 768px) {
    .local-explication-money {
        width: 47.23%;
        gap: 17px;
    }

    .area-convertion {
        width: 60%;
        height: 100%;
    }

    .money-explication {
        gap: 24.4px;
    }

    .convertion-info {
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 30px;
    }
 
}