
.local-explication-money {
    text-align: center;
    width: 50%;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 10px;
    padding-left: 18px;
}

.money-explication {
    display: flex;
    font-size: 17px;
    flex-flow: column nowrap;
    gap: 8.7px;
}

.arrow-explications {
   
    display: flex;
    flex-flow: column nowrap;
    gap: 9px;
    margin-left: -3px;
}

.symbols-money {
    display: flex;
    flex-flow: column nowrap;
    gap: 5.74px;
}

.type-money {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    gap: 7px;
}

.area-convertion {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    height: 50%;  
}

@media screen and (max-width: 1200px) {
    .local-explication-money {
        width: 57%;
    }
}