h2 {
    margin-bottom: 16px;
}

.convertion-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    gap: 30px;
}

.local-explication-money {
    width: 42%;
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 4px;
}

.money-explication {
    display: flex;
    font-size: 17px;
    flex-flow: column nowrap;
    gap: 8.7px;
}

.arrow-explications {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

}

.symbols-money {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.type-money {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    margin-bottom: 10px;
    gap: 7px;
}

.area-convertion {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    width: 58%;
    
}


@media screen and (max-width: 768px) {
    .local-explication-money {
        width: 39%;
    }

    .area-convertion {
        background-color: rgba(24, 26, 47, 0.573);
        height: 300px;
    }

    .money-explication {
        gap: 26.7px;
    }

    .arrow-explications {
        justify-content: space-between;
    }

    .symbols-money {
        justify-content: space-between;
    }

 
}