#sidebar {
    background-color: rgb(22, 28, 41);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    gap: 40px;
    padding-top: 40px;
    

      #ul-desktop {
        display: flex;
        flex-flow: column nowrap;
        gap: 100px;

          li {
            list-style: none;
            
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                flex-flow: row nowrap;
                text-decoration: none;
                color: white;
            }
          }
      }
}